body{
  background-color: tan;
};

#titleHolder{
    display: flex;
    justify-content: center;
    align-items:center;
};

#linksHolder{
      display: flex;
      justify-content: space-evenly;
}

