body {
  background-color: grey;
}

;
//INDEX
#titleHolder {
  display: flex;
  justify-content: center;
}

;
#linksHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//ARTICLE LIST
#articleTitleBox {
  display: flex;
  justify-content: center
}

;
#articlesBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .articleBox {
    background-color: white;
    border: 2px solid black;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 3px;
    box-shadow: 2px 2px 5px blue;
    .articleLink{
      font-size: 40px;
    }
    div{
      font-size: 20px;
    }
  }
}