<div id = 'articleTitleBox'>
<h1>ARTICLES</h1>
</div>

<a href="/articles/new">Add Article</a>
<br>
<a href="/">Return to Index</a>

<div id = 'articlesBody'>
{{#each articles}}
<div class = 'articleBox'>
    <div>
      <a class = 'articleLink' href="/articles/{{title}}">{{title}}</a>
    </div>
    <div>By:{{author}}</div>
    <div>{{body}}</div>
    </div>
{{/each}}
</div>