<form action="/products/{{id}}" method="PUT">
name: <input type = "text" name = 'name' value = {{name}} id = 'editNameInput'>
price: <input type = "text" name = 'price' value = {{price}} id = 'editPriceInput'>
inventory: <input type = "text" name = 'inventory' value = {{inventory}} id = 'editInventoryInput'>
</form>