<form action="/articles" method='POST'>
  Title:
  <input type="text" name="title" {{#if invalidTitle}} value="{{title}}" {{/if}} id='articleTitleInput'>

    {{#if invalidTitle}} {{>invalidTitleErr}} {{/if}}

  <br> Author:
  <input type="text" name="author" {{#if invalidTitle}} value="{{author}}" {{/if}} id='articleAuthorInput'> 

  <br> Body:
  <input type="text" name="body" {{#if invalidTitle}} value="{{body}}" {{/if}} id="articleBodyInput"> 

  <br>
  <button type="submit">SUBMIT</button>
  <br>
  <a href="/articles">Return to articles list</a>
</form>