  <form action="/products" method='POST'>
<input type="text" name="name" placeholder="name" id='productNameInput'>
     <br>
<input type="text" name="price" placeholder="price" id = 'productPriceInput'>
     <br>
<input type="text" placeholder="inventory" name="inventory" id ="productInventoryInput">
     <br>
    <button type="submit">SUBMIT</button>
    <br>
    <a href="/products">Return to products list</a>
  </form>