  <form action="/products" method='POST'>
    <input type="text" name="name">name
    <input type="text" name="price">price
    <input type="text" name="inventory">inventory
    <button type="submit">SUBMIT</button>
  </form>