  <form action="/products" method='POST'>
     name: <input type="text" name="name" id='productNameInput'>
     price: <input type="text" name="price" id = 'productPriceInput'>
     inventory: <input type="text" name="inventory" id ="productInventoryInput">
    <button type="submit">SUBMIT</button>
  </form>