  <form action="/products" method='POST'>
     name: <input type="text" name="name">
     price: <input type="text" name="price">
     inventory: <input type="text" name="inventory">
    <button type="submit">SUBMIT</button>
  </form>