<h1>PRODUCTS LIST</h1>

{{#each products}}
<ul>
<li>
  <a href="http://www.localhost:8080/products/{{id}}">
<h4>{{name}} </h4>
</a>
<div>price:{{price}}</div>
<div>inventory:{{inventory}}</div>
</li>
</ul>
{{/each}}
<a href="http://www.localhost:8080/products/new">Add Product</a>
