<h1>PRODUCTS LIST</h1>

{{#each products}}
<ul>
<li>
    <h3>
      <a href="/products/{{id}}">{{name}}</a>
    </h3>
<div>price:{{price}}</div>
<div>inventory:{{inventory}}</div>
</li>
</ul>
{{/each}}
<a href="/products/new">Add Product</a>
<br>
<a href="/">Return to Index</a>
