<h1>PRODUCTS LIST</h1>

{{#each products}}
<ul>
<li>
  <a href="/products/{{id}}">
<h4>{{name}}</h4>
</a>
<div>price:{{price}}</div>
<div>inventory:{{inventory}}</div>
</li>
</ul>
{{/each}}
<a href="/products/new">Add Product</a>
<br>
<a href="/">Return to Index</a>
